<h4>your ads:</h4>
<%if !@apartments.empty?%>
  <p>Apartments:<p>
  <%@apartments.each do |apartment|%>
    <li><a href='/apartments/<%=apartment.id%>'><%= apartment.headline %> - <%= apartment.price %></a></li>
  <%end%>
<%end%>

<br>

<%if !@sales.empty?%>
  <p>For Sale:<p>
  <%@sales.each do |sale|%>
    <li><a href='/for_sale/<%=sale.id%>'><%= sale.headline %> - <%= sale.price %></a></li>
  <%end%>
<%end%>

<br>

<%if !@wanteds.empty?%>
  <p>Wanted:<p>
  <%@wanteds.each do |wanted|%>
    <li><a href='/wanted/<%=wanted.id%>'><%= wanted.headline %></a></li>
  <%end%>
<%end%>