<h3><%= @apartment.headline%></h3>
<li>$<%= @apartment.price %>/mo.</li>
<li><%= @apartment.content %></li>
<li>contact: <%= @user.email %></li>
<% if @viewer.id == @apartment.user_id %>
  <p><a href=/apartments/<%=@apartment.id%>/edit>edit</a></p>
<% end %>