<h3><%= @sale.headline%></h3>
<li>$<%= @sale.price %></li>
<li><%= @sale.content %></li>
<li>contact: <%= @user.email %></li>
<% if @viewer.id == @sale.user_id %>
  <p><a href=/sales/<%=@sale.id%>/edit>edit</a></p>
<% end %>